# Core dependencies
numpy>=1.19.5
matplotlib>=3.4.3
scikit-image>=0.18.3
scikit-learn>=1.0.1
tensorflow>=2.7.0
pandas>=1.3.4
seaborn>=0.11.2
streamlit==1.43.1

# Image processing
opencv-python-headless>=4.5.4
Pillow>=8.4.0

# Data handling and visualization
h5py>=3.6.0
tqdm>=4.62.3

# Utilities
argparse>=1.4.0
pathlib>=1.0.1

# YOLOv8
ultralytics>=8.0.0
